
body{
    background-color:#ededed;
}
.main{
    display: flex;
    flex-direction: row;
    gap: 8vh;
    justify-content: center;
    font-family: 'Times New Roman', Times, serif;
}

h1{
    justify-self: center;
    font-size: 45px;
}

.buttons{
    display: flex;
    flex-direction: column;
    gap: 15px;
}

.buttons button{
    height: 50px;
    width: 170px;
    border-radius: 10px;
}

button:hover{
    background-color: white;
   transform: scale(1.05);
   
}

/* Adding button on style */

button.active{
    color: white;
    background-color: black;
}

.sketch-book{
    height: 50vh;
    width: 50vh;
    background-color: white;
}

.sketch-area{
    height: 50vh;
    width: 50vh;
    background-color: white;
    display: grid;
    grid-template-columns: repeat(32, 1fr);
    grid-template-rows: repeat(32, 1fr);
}

#colorpicker{
    align-self: center;
   -webkit-appearance: none;
   appearance: none;
   width: 80px;
   height: 80px;
   border: none;
   border-radius: 100%;
   padding: 0;
   overflow: hidden;
   cursor: pointer;
}

.slider{
  -webkit-appearance: none;
  appearance: none;
  width: 100%;
  background: #ddd;
  border-radius: 5px;
  outline: 5px;
  outline-color: black;
  border-color: black;
  border: 5px;
  transition: background 0.3s;
}

.slider-value{
    display: flex;
    justify-content: center;
    padding-bottom: 5px;
    font-weight: 500;
}

.slider-value-container{
    display: flex;
    flex-direction: row;
    justify-content: center;
    gap: 5px;
}
#colorpicker:hover{
   transform: scale(1.05);
   transition-timing-function: ease-in-out;
}



